.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
  grid-gap: 4px;
  margin: 0 auto;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms, backdrop-filter 200ms;
}

.card span {
  display: inline-block;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.card h2 img {
  margin-right: 10px;
  float: left;
}

.card p {
  word-break: break-word;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    /*background: rgba(var(--card-rgb), 0.1);*/
    backdrop-filter: invert(5%);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    /*max-width: 320px;*/
    text-align: center;
  }

  .card {
    padding: 1rem 1rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
